* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #376db5;
}

a:hover {
  color: #79a2d7;
  transition: .5s;
}

.wrapper {
  width: 80%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 200px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

header h1 {
  color: #f7a773;
  font-size: 60px;
  font-family: 'Abel', sans-serif;
}

header h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

header h2 span {
  color: #f49d65;
}

header h4 {
  color: #333;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

.content {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 0;
}

.content:after {
  content: '';
  display: table;
  clear: both;
}

.box {
  width: 33.33333%;
  height: 100px;
  background-color: #65b9d7;
  text-align: center;
  float: left;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  position: relative;
  transition: .5s;
}

.box:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.box:hover {
  background-color: #8fd1e9;
  transition: .5s;
}

.box .box_text {
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  vertical-align: middle;
  display: inline-block;
}
