body,
html {
  height: 100%; }

body {
  font-size: 62.5%;
  font-family: "Helvetica", "Arial", "Microsoft JhengHei", sans-serif; }

h1 {
  font-size: 3.2em;
  font-weight: 600; }

h2 {
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing: 1px; }

h3 {
  font-size: 1.8em;
  line-height: 1.4em; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #5fb4ff;
    transition: .3s; }

p {
  font-size: 1.6em; }

.wrapper {
  min-height: 100%;
  background-color: #f5f5fa;
  color: #333;
  padding-bottom: 50px; }

.main_container {
  width: 975px;
  margin: 0 auto;
  box-sizing: border-box; }

header {
  padding: 50px 20px 0;
  text-shadow: 1px 1px 0 #fff; }
  header .photoDiv {
    width: calc((100% / 3) - 20px);
    margin-right: 20px;
    float: left; }
    header .photoDiv .photo {
      width: 152px;
      height: 152px;
      border-radius: 50%;
      border: 3px solid #fff;
      box-shadow: 0 0 3px #ccc;
      background-image: url("../img/myPhoto.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin: 0 auto; }
  header .nameDiv {
    width: calc(100% / 3 * 2);
    float: left; }
    header .nameDiv h1 {
      margin-top: 30px;
      margin-bottom: 30px; }

.myEmail {
  color: #4772d0; }

.content {
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 1px 3px #ddd;
  margin-top: 30px;
  text-align: center; }

.contentBox {
  text-align: center;
  padding: 50px 0;
  position: relative; }

.myInfo h3:not(:last-child) {
  margin-bottom: 20px; }

.jobHistory h3:not(:last-child) {
  margin-bottom: 18px; }

.decoLine::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #d8d8dc;
  border-bottom: 1px solid #fff;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute; }

.workExperience {
  padding-bottom: 10px; }

.projectRow {
  padding: 0 70px;
  margin: 50px 0 20px; }
  .projectRow:not(:last-child) {
    margin-bottom: 70px; }
  .projectRow .image {
    width: 45%;
    float: left; }
    .projectRow .image img {
      max-width: 100%;
      box-shadow: 0 2px 4px 0 #aaa; }
  .projectRow .text {
    width: 55%;
    text-align: left;
    padding-top: 5px;
    padding-left: 40px;
    word-wrap: break-word;
    box-sizing: border-box;
    float: left; }
    .projectRow .text h3 {
      font-weight: 600;
      margin-bottom: 30px;
      display: block; }
    .projectRow .text p {
      font-size: 1.6em;
      line-height: 1.6em;
      color: #333;
      margin-bottom: 20px; }

.intro p {
  line-height: 1.6em;
  text-align: left;
  padding: 0 70px; }

footer {
  text-align: center;
  margin: 40px 0 0; }
  footer p {
    font-size: 1.4em;
    text-shadow: 1px 1px 0 #fff; }

.contentBox h3.margin_bot_50 {
  margin-bottom: 50px; }

.clearFix::after {
  content: "";
  display: block;
  clear: both; }

@media screen and (max-width: 975px) {
  .main_container {
    width: 100%;
    padding: 0; }
  .content {
    border-radius: 0; } }

@media screen and (max-width: 768px) {
  header .photoDiv {
    width: 100%; }
  header .nameDiv {
    width: 100%;
    text-align: center; }
  .content {
    padding: 0 10px; }
  .projectRow {
    padding: 0; }
    .projectRow .image {
      width: 100%;
      margin-bottom: 30px; }
    .projectRow .text {
      width: 100%;
      padding: 0;
      margin-bottom: 20px; }
      .projectRow .text h3 {
        margin-bottom: 1.4em; } }
