* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body, html {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
::selection {
    background-color: rgba(249, 112, 0, 1);
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fafafa;
    z-index: 1;
    box-sizing: border-box;
}
nav {
    width: 100px;
    height: 20px;
    padding: 10px;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    transition: .5s;
    z-index: 5;
    &:hover {
        transition: .5s;
        background-color:  hsla(0, 0%, 100%, 0.55);
    }
    a {
        font-size: 18px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(215, 50, 85, 0.66);
        // text-shadow: 1px 1px 0 #fff;
        &:hover {
            color: rgb(246, 79, 110);
        }
    }
}
.content {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgba(#c4dcff, 0.53) 0%,rgba(#ffbbba, 0.63) 100%);
    .inputArea {
        width: 500px;
        height: 40px;
        left: 0;
        right: 0;
        top: 150px;
        margin: auto;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        box-shadow: 0 0 3px #ccc;
        @media screen and (max-width: 768px) {
            width: 80%;
        }
        .inputAreaText {
            width: 90%;
            height: 40px;
            outline: none;
            background: none;
            border: none;
            padding-left: 5px;
            padding-right: 5px;
            color: #555;
            text-align: center;
        }
    }
    .outputArea {
        width: 500px;
        height: 50px;
        left: 0;
        right: 0;
        top: 280px;
        margin: auto;
        position: absolute;
        color: rgba(246, 79, 110, .7);
        font-size: 40px;
        font-family: 'Cookie', cursive;
        @media screen and (max-width: 768px) {
            width: 80%;
        }
        p {
            width: 100%;
            word-wrap: break-word;
        }
        // span {
        //     color: rgba(246, 79, 110, 1);
        // }
    }
}
