* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background-color: #f97000;
}

::selection {
  background-color: #f97000;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f2eacb;
  z-index: 1;
  text-align: center;
}

nav {
  width: 100px;
  height: 20px;
  padding: 10px;
  left: 0;
  position: fixed;
  text-align: center;
  transition: .5s;
  z-index: 5;
}

nav:hover {
  transition: .5s;
  background-color: rgba(255, 245, 219, 0.85);
}

nav a {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #f6a445;
}

.weekBox {
  width: 80%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  font-size: 0;
  text-align: center;
}

.weekBox .weekBox_today {
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  width: 80%;
  height: auto;
  color: #f6a445;
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.weekBox .weekBox_day {
  top: 200px;
  position: relative;
  width: 14.28571%;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: #fbf0d8;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  background-color: #f0c592;
  box-shadow: 0px 0px 1px #eee;
  box-sizing: border-box;
}

.weekBox .weekBox_text {
  top: 300px;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
  width: 300px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  color: #f6a445;
  font-family: 'Inconsolata', monospace;
  border-radius: 10px;
}
