body,
html {
    height: 100%;
}
body {
    font-size: 62.5%;
    font-family: "Helvetica", "Arial", "Microsoft JhengHei", sans-serif;
}
h1 {
    font-size: 3.2em;
    font-weight: 400;
}
h2 {
    font-size: 2.4em;
    font-weight: 200;
    letter-spacing: 1px;
}
h3 {
    font-size: 1.8em;
    font-weight: 200;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: #4772d0;
    }
}
p {
    font-size: 1.6em;
}
.wrapper {
    min-height: 100%;
    background-color: #f5f5fa;
    color: #333;
}
.main_container {
    width: 975px;
    height: 4000px;
    margin: 0 auto;
    box-sizing: border-box;
}

// header
header {
    padding: 50px 20px 0;
    padding-top: 50px;
    text-shadow: 1px 1px 0 #fff;
    .photoDiv {
        width: calc((100% / 3) - 20px);
        margin-right: 20px;
        float: left;
        .photo {
            width: 152px;
            height: 152px;
            border-radius: 50%;
            border: 3px solid #fff;
            box-shadow: 0 0 3px #ccc;
            background-image: url("../img/myPhoto.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            margin: 0 auto;
        }
    }
    .infoDiv {
        width: calc(100% / 3 * 2);
        float: left;
        h1 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
// header End

// content
.content {
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px #ddd;
    margin-top: 30px;
    text-align: center;
}
.contentBox {
    text-align: center;
    padding: 50px 0;
    position: relative;
    h3:not(:last-child) {
        margin-bottom: 20px;
    }
}
.decoLine {
    &::after {
        content: "";
        width: 70%;
        height: 1px;
        background-color: #d8d8dc;
        border-bottom: 1px solid #fff;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
    }
}
.projectRow {
    padding: 0 70px;
    margin: 50px 0 70px;
    .image {
        width: 45%;
        float: left;
        img {
            width: 100%;
        }
    }
    .text {
        width: 55%;
        text-align: left;
        padding-left: 40px;
        box-sizing: border-box;
        float: left;
        h3 {
            font-weight: bold;
            margin-bottom: 30px;
        }
        p {
            font-size: 1.6em;
            line-height: 1.6em;
            color: #333;
            margin-bottom: 20px;
        }
    }
}
// content End
.margin_bot_40 {
    margin-bottom: 40px;
}
.contentBox h3.margin_bot_40 {
    margin-bottom: 40px;
}
.clearFix::after {
    content: "";
    display: block;
    clear: both;
}