* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body, html {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
::selection {
    background-color: rgba(249, 112, 0, 1);;
}
.wrapper {
    width: 100%;
    height: 250%;
    position: relative;
    background-color: #090621;
    z-index: 1;
    text-align: center;
}
nav {
    width: 100px;
    height: 20px;
    padding: 10px;
    left: 0;
    position: fixed;
    text-align: center;
    transition: .5s;
    z-index: 5;
    &:hover {
        transition: .5s;
        background-color:  hsla(0, 0%, 65%, 0.85);
    }
    a {
        font-size: 18px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        color: rgb(56, 75, 173);
        // text-shadow: 1px 1px 0 #fff;
    }
}
h1 {
    padding-top: 150px;
    color: #3d3d61;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.top_container {
    width: 80%;
    height: 40px;
    left: 0;
    right: 0;
    margin: 100px auto;
    position: fixed;
    .text {
        left: 0;
        position: absolute;
        text-align: left;
        font-size: 40px;
        color: #fff;
        font-family: 'Cutive Mono', monospace;
        // border: 1px solid #fff;
    }
}
.bottom_container {
    width: 80%;
    height: 40px;
    top: 800px;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    font-size: 40px;
    color: #fff;
    font-family: 'Cutive Mono', monospace;
    display: none;
    // border: 1px solid #fff;
    .text {
        left: 0;
        position: absolute;
        text-align: left;
        font-size: 40px;
        color: #fff;
        font-family: 'Cutive Mono', monospace;
        // border: 1px solid #fff;
    }
}
