* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body, html {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
::selection {
    background-color: rgba(0, 0, 0, 0);;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #333;
    z-index: 1;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .3);
    }
}
nav {
    width: 100px;
    height: 20px;
    padding: 10px;
    left: 0;
    position: fixed;
    text-align: center;
    transition: .5s;
    z-index: 5;
    &:hover {
        transition: .5s;
        background-color:  hsla(0, 0%, 65%, 0.85);
    }
    a {
        font-size: 18px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        text-shadow: 1px 1px 0 #111;
    }
}
.clickme_button {
    width: 200px;
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
    position: absolute;
    text-align: center;
    background-color: #faeaea;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    transition: .5s;
    z-index: 5;
    &:hover {
        background-color: #fff;
        transition: .5s;
    }
    &:active {
        transform: scale(0.98);
        box-shadow: 0 0 0 #000;
        transition: .3s;
    }
    &:before {
        content: 'Click Me!';
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        position: absolute;
        font-size: 32px;
        line-height: 100px;
        color: #333;
        text-shadow: 1px 1px 0 #fff;
        font-family: 'Open Sans', sans-serif;
    }
}
