* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body, html {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
::selection {
    background-color: rgba(249, 112, 0, 0);;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f2f2f2;
    background-image: linear-gradient( -225deg ,#faa 1px,transparent 1px);
    background-size: 10px 10px;
    background-repeat: repeat;
    background-position: 0 0;
    z-index: 1;
}
nav {
    width: 100px;
    height: 20px;
    padding: 10px;
    left: 0;
    position: fixed;
    text-align: center;
    transition: .5s;
    z-index: 5;
    &:hover {
        transition: .5s;
        background-color:  hsla(0, 0%, 65%, 0.85);
    }
    a {
        font-size: 18px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #333;
        text-shadow: 1px 1px 0 #fff;
    }
}
.content {
    width: 80%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    h1 {
        color: rgba(#e11, .5);
        text-shadow: 1px 1px 0 #fefefe;
        padding: 50px 0 50px 0;
        font-family: 'Open Sans', sans-serif;
    }
    p {
        font-size: 170px;
        cursor: pointer;
    }
}
